<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Anniversary!</title>
    <link rel="stylesheet" href="{{ url_for('static_files', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>❤️ Happy Anniversary! ❤️</h1>
        <h2>Mama & Atha ❤️</h2>
        <p>May your Love continue to grow stronger with each passing year. 
            I pray for your happiness enjoy in everything you do together ❤️</p>
        
        <p class="signature">- With love, Hemanth 💕</p>
        
        <img src="{{ url_for('static_files', filename='anniversary.jpg') }}" alt="Anniversary Image">
        
        <div class="hearts">❤️ ❤️ ❤️ ❤️ ❤️</div>

        <audio autoplay loop>
            <source src="{{ url_for('static_files', filename='music.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    </div>
</body>
</html>
